extends _layout.pug

block content
  section.section.is-main-section
    .columns
      .column.is-6.is-offset-3
        .card
          header.card-header
            p.card-header-title
              span.icon
                i.mdi.mdi-account-cog
              | Account Settings
          .card-content
            form(method="post" action="/account")
              .field.is-horizontal
                .field-label.is-normal
                  label.label Username
                .field-body
                  .field
                    .control.has-icons-left
                      input.input(type="text" name="username" placeholder="Username" value=user)
                      span.icon.is-small.is-left
                        i.mdi.mdi-account
              .field.is-horizontal
                .field-label.is-normal
                  label.label Card Number
                .field-body
                  .field
                    .control.has-icons-left
                      input.input(type="text" name="cardNumber" placeholder="16-character Card Number (optional)" value=fullUser.cardNumber)
                      span.icon.is-small.is-left
                        i.mdi.mdi-credit-card
                    p.help.is-info
                      span.icon.is-small.mr-1
                        i.mdi.mdi-information
                      | Note: You must already be registered in the game. Try creating a save data or ending a session with that card in the game so it appears in the webui. It's a problem I'll resolve soon, so I apologize for the inconvenience.
              .field.is-horizontal
                .field-label.is-normal
                  label.label New Password
                .field-body
                  .field
                    .control.has-icons-left
                      input.input(type="password" name="password" placeholder="Leave blank to keep current")
                      span.icon.is-small.is-left
                        i.mdi.mdi-lock
              .field.is-horizontal
                .field-label.is-normal
                  label.label Confirm Password
                .field-body
                  .field
                    .control.has-icons-left
                      input.input(type="password" name="confirmPassword" placeholder="Confirm new password")
                      span.icon.is-small.is-left
                        i.mdi.mdi-lock-check
              .field.is-grouped.is-grouped-right
                .control
                  if config.discord_client_id
                    if fullUser && fullUser.discordId
                      form(method="post" action="/account/unlink-discord" style="display: inline-block; margin-right: 10px;" onsubmit="return confirm('Are you sure you want to unlink your Discord account?');")
                        button.button.is-danger(type="submit")
                          span.icon.is-small
                            i.mdi.mdi-discord
                          span Unlink Discord
                    else
                      a.button.is-link(href="/auth/discord?action=link" style="background-color: #5865F2;")
                        span.icon.is-small
                          i.mdi.mdi-discord
                        span Link Discord
                .control.is-expanded
                  if formMessage
                    if formMessage.danger
                      .notification.is-danger.is-light #{formMessage.message}
                    else
                      .notification.is-success.is-light #{formMessage.message}
                .control
                  button.button.is-link(type="submit")
                    span.icon.is-small
                      i.mdi.mdi-content-save
                    span Save
