doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title RyuNET - Sign Up
    link(rel="stylesheet", href="/static/css/bulma.min.css")
    link(rel="stylesheet", href="/static/css/margin.min.css")
    link(rel="stylesheet", href="/static/css/materialdesignicons.min.css")
    link(rel="stylesheet", href="/static/css/style.css")
    link(rel="stylesheet", href="/static/css/bulma-fix.css")
    link(rel="stylesheet", href="/static/css/modern.css")
  body.auth-body
    .auth-container
      .card.auth-card
        .card-content
          .has-text-centered.mb-5
            .image.is-64x64.logo.auth-logo
              img(src="/static/img/logo.png")
            h1.title.is-4.auth-title RyuNET
          if error
            .notification.is-danger.is-light.mb-4 #{error}
          form(method="post" action="/signup")
            .field
              label.label Username
              .control.has-icons-left
                input.input(type="text" name="username" placeholder="Username" required autofocus value=(old && old.username ? old.username : ''))
                span.icon.is-small.is-left
                  i.mdi.mdi-account
            .field
              div(style="display:flex;justify-content:space-between;align-items:baseline")
                label.label.mb-0 Card Number
                a.is-size-7.has-text-weight-normal(href="/help/card-number" target="_blank") Where do I find this?
              .control.has-icons-left
                input.input(type="text" name="cardNumber" placeholder="Card Number" required value=(old && old.cardNumber ? old.cardNumber : ''))
                span.icon.is-small.is-left
                  i.mdi.mdi-credit-card-outline
            .field
              label.label Password
              .control.has-icons-left
                input.input(type="password" name="password" placeholder="Password" required value=(old && old.password ? old.password : ''))
                span.icon.is-small.is-left
                  i.mdi.mdi-lock
            .field
              label.label Confirm Password
              .control.has-icons-left
                input.input(type="password" name="confirmPassword" placeholder="Confirm Password" required value=(old && old.confirmPassword ? old.confirmPassword : ''))
                span.icon.is-small.is-left
                  i.mdi.mdi-lock-check
            .field
              button.button.is-info.is-fullwidth(type="submit")
                span.icon
                  i.mdi.mdi-account-plus
                span Sign Up
          hr
          if config.discord_client_id
            .has-text-centered.mb-4
              a.button.is-link.is-fullwidth(href="/auth/discord?action=login" style="background-color: #5865F2;")
                span.icon
                  i.mdi.mdi-discord
                span Sign up / Log in with Discord
          .has-text-centered
            p.is-size-7.has-text-grey Already have an account?
              |
              a(href="/login") Login
